* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #152837;
  font-family: monospace; 

  /* 80s text shadow 
  text-shadow: -0.06em 0 0.5px #77239e;
  */
  
  /* 80s background animated gif 
  background-image: url("lines-alpha-anim.gif");
  background-size: 8px;
  */
}

pre {
  font-size: 1em;
}

.button {
  width: 50%;
  border: none;
  color: #a4ff9b;
  text-align: left;
  font-size: 1em;
  outline: none;
}

.debug {
  border: 1px solid #c062e8;
}

.info {
  color: #6fceff;
}

.warning {
  color: #faf772;
}

.danger {
  color: #ff604b;
}

.neon {
  color: #c062e8;
}  

.section {
  width: 100%;
  background-color: #152837;
  color: #a4ff9b;
}

.center {
  text-align: center;
}

.menu {
  font-size: 4em;      
  height: 80px;
  display: flex;
  align-items: center;
}

.header {
  font-size: 2em;
  height: 80px;
  display: flex;
  align-items: center;
}

.smallcontent {
  min-height: 300px;
  font-size: 1em;
}

.terminal {
  min-height: 400px;
}

.sign-up {
  background-color: #c062e8;
}

.feature-1 {
  background-color: #6fceff;
}

.feature-2 {
  background-color: #faf772;
}

.feature-3 {
  background-color: #ff604b;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #ff604b; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
}